/**
  *	@name Shadowing
  *	@author cumzone#5911
  *	@version 1.0
  *	
*/

/*

*/

@import url('https://raw.githubusercontent.com/tylerboy0604/kings-community-theme/main/king.theme.css');

:root {
  --king-bg: url(https://i.imgur.com/nYpeG2V.png);
  --king-home-icon: url(https://i.imgur.com/jZfHnXx.png);
  --king-color1: #e4d800;
  --king-color2: #ffffff;
  --king-color3: #e4d800;
  --watermark-filter-invert: 0%;
  --watermark-filter-sepia: 50%;
  --watermark-filter-saturate: 3000%;
  --watermark-filter-hue-rotate: 150deg;
  --watermark-filter-brightness: 100%;
  --watermark-filter-contrast: 200%;
  --king-emoji-picker-color: 150deg;
}

